{% include 'nav.html' %}
{% block content %}

<h1 class="text-center" style="font-size: 50px; color: black;"> Edit Watch Item </h1>

<form action="#" method = 'post' style="margin-left: 450px; margin-top: 50px;">


	<p><span style="margin-right: 250px; font-size: 45px;">Name:</span><input style="height: 50px; padding-left: 20px;" type ='text' size='30' name='name' placeholder = '{{item.name }}' ></p>
	<p><span style="margin-right: 140px; font-size: 45px;"> Description:</span>
		<input style="height: 50px; padding-left: 20px;" type ='text' size='30' name='description' placeholder = '{{item.description}}' ></p>
	<p><span style="margin-right: 270px; font-size: 45px;">Price:</span><input style="height: 50px; padding-left: 20px;"  type ='text' size='30' name='price' placeholder = '{{item.price}}'>
	<p><span style="margin-right: 110px; font-size: 45px;">Watch Image:</span><input style="height: 50px; padding-left: 20px;" type="text" size="30" name="pic1" placeholder='{{ item.pic1 }}'>
		<div style="margin-top: 50px; margin-bottom: 50px;">
			<input style="width: 150px; height: 50px;" type='submit' value='Create'>
			<button style="width: 150px; height: 50px; margin-left: 300px;"><a href ="{{ url_for('showwatch',company_id = company_id) }}"> Cancel </a></button>
	   </div>

</form>
</div>
{% endblock content %}